body{
	background:#1f1f1f;
}
.cola{
	padding-right: 10px;
	padding-left: 0px;
}
.bg{
	background:#57A167;
	padding:20px;
	margin-top:10px;
	border:2px solid #AFAFAF;
}
.aria-top{
	margin:30px;
}
.bg2{
	background:#5C9BFA;
	padding:20px;
	margin-top:10px;
	border:2px solid #AFAFAF;
}
.bg3{
	background:#DF5150;
	padding:20px;
	margin-top:10px;
	border:2px solid #AFAFAF;
}
.bg4{
	background:#D1933F;
	padding:20px;
	margin-top:10px;
	border:2px solid #AFAFAF;
}